/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0;
    background: #ddd;
    color: #000;
    padding: 0.2em;
}

.chromeframe a { color: #fe57a1; text-decoration: none; }
.chromeframe a:visited { color: #ee016a; }
.chromeframe a:hover { color: #fe2485; }


/* ==========================================================================
   My Styles
   ========================================================================== */

body {
    color: #fff;
    background-color: #111;
    background-image: url(../img/background.png);
}

header h1 {
    color: #fff;
    font-size: 300%;
    margin-bottom: 0px;
    text-align: center;
}

header h2 {
    margin-top: 0px;
    color: #fe57a1;
    text-align: center;
}

header {
    margin: 0 auto;
    width: auto;
    max-width: 600px;
}

footer {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    max-width: 600px;
}

#main {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

/* IE hack thanks to respond.js */
@media only screen and (min-width: 600px) { header, footer, #main { width: 600px; } }

#content {
    background-color: #ddd;
    color: #000;
    padding: 10px;
}

#content h1 {
    color: #888;
    margin: 0;
}

#content a { color: #fe57a1; text-decoration: none; }
#content a:visited { color: #ee016a; }
#content a:hover { color: #fe2485; }

#avatar {
    display: none;
}

#aboutme {
    padding: 10px;
}

#aboutme p, aside p {
    margin-bottom: 0;
}

.project {
    padding: 10px;
}

.project .thumb {
    float: left;
    margin-right: 20px;
    display: none;
}

.project h1 {
    display: inline;
}

.project a h1:hover {
    text-decoration: underline;
}

.project .gh-button {
    display: none;
}

aside {
    background-color: #666;
    padding: 20px;
}

aside h2 {
    margin: 0;
}

aside a { color: #fe8abd;  text-decoration: none; }
aside a:visited { color: #f3bdd9; }
aside a:hover { color: #ffeff6; }

nav {
    background-color: #ccc;
    font-weight:bold;
    width: 100%;
}

nav ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

nav li {
    display: block;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

nav a { color: #888; text-decoration:none; }
nav a:visited { color: #888; }
nav a:hover { color: #eee; }


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
    #avatar {
        display: block;
        float: left;
        width: 80px;
        height: 80px;
        margin-right: 18px;
        border: solid black 1px;
    }

    #aboutme p {
        margin-left: 100px;
    }

    header h1 {
        margin-bottom: -10px;
        text-align: left;
        margin-left: 30px;
    }

    header h2 {
        text-align: left;
        margin-left: 80px;
    }

    .project {
        min-height: 130px; /* just in case (but if clearfix doesn't work, chances are this won't either) */
    }

    .project .thumb {
        display: block;
    }

    .project .thumb img {
        border: solid black 1px;
        height: 128px;
        width: 128px;
    }

    .project .description p {
        margin-left: 148px;
        margin-bottom: 0px;
    }

    .project .gh-button {
        display: inline;
        margin-left: 10px;
    }

    nav li {
        display: inline-block;
        width: 50%;
    }
}

@media only screen and (min-width: 1024px) {
    #main {
        -webkit-box-shadow: 0 1em 1em -1em black;
        -moz-box-shadow: 0 1em 1em -1em black;
        box-shadow: 0 1em 1em -1em black;
    }

    nav {
        display: block;
        font-size: 200%;
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 600px;
        width: auto;
        text-transform: uppercase;
        font-weight: bold;
        background-color: transparent;
    }

    nav li {
        display: list-item;
        text-align: right;
        margin: 0;
        padding: 0;
        width: auto;
    }

    aside {
        position: absolute;
        right: 0;
        top: 0;
        margin-right: -200px; /* width + 2x padding */
        width: 160px;
        box-shadow: inset 1em 0 1em -1em #000;
        -moz-box-shadow: inset 1em 0 1em -1em #000;
        -webkit-box-shadow: inset 1em 0 1em -1em #000;
    }

    nav a.selected { color: #ddd; }
    nav a.selected:hover { color: #eee; }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
