---
layout: base
permalink: /projects.html
---

{% for thing in site.projects %}
<div class="project clearfix">
  <a class="thumb" href="{{ thing.url }}"><img src="img/{{ thing.image }}" /></a>
  <div class="description">
    <a href="{{ thing.url }}"><h1>{{ thing.title }}</h1></a>{% if thing.gh-button-user %}<iframe class="gh-button" src="http://ghbtns.com/github-btn.html?user={{ thing.gh-button-user }}&amp;repo={{ thing.gh-button-repo }}&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>{% endif %}
    <p>
      {{ thing.desc }}
    </p>
  </div>
</div>
{% endfor %}
